@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');
/* VARIABLES */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", sans-serif;
    --primary-color: #416a8e; /* blue */
}


/* GENERAL */
body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font)
}
